.dropdown {
  position: absolute;
  background-color: white; 
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 12.3%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  color: black;
}

.dropdownItem:hover {
  background-color: #f0f0f0; 
}


  