#section_footer {
    width: 100%;
    background: rgb(255,82,82);
    background: linear-gradient(0deg, rgba(255,82,82,1) 0%, rgba(255,152,0,1) 100%); 
  
    a, span {
      color: #fff;
      font-size: .99em;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
  
    p {
        color: #fff;
        font-size: .95em;
    }
}