/* search.css */
.main-content {
  background: url('../public/search.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input {
  font-size: 1rem;
  width: calc(100% - 20px);
  padding: 8px;
  margin: 0 auto;
  box-sizing: border-box;
}

#div-center {
  width: 665px;
  margin: auto;
}

.container {
  display: flex;
  margin-top: 20px; 
  margin-left: 20px; 
  justify-content: center; 
  align-items: flex-start; 
  z-index: 1;
  position:relative;
}


.recipe-container {
  flex: 1;
  margin-left: 50px; 
}

.recipe-row {
  display: flex;
  flex-wrap: wrap;
}

.listbox-wrapper {
  height: 500px;
  overflow-y: auto;
  padding-right: 20px;
}
