.mainContainer {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Set up grid rows */
    height: 100vh; /* Ensure the container takes up the full height of the viewport */
    background: url("https://wallpapercave.com/wp/wp3138532.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    transition: all .5s;
  }
  
  .contentContainer {
    display: grid;
    grid-template-columns: auto 1fr; /* Set up grid columns */
  }
  
  .ingredientContainer, .recipeSummary {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .regularTextCenter, .recipeSummary {
    text-align: center;
    background-color: white;
    
  }
  
  .recipeSummaryContainer {
    position: relative; /* Set position to relative */
    margin-left: 150px; /* Adjust left margin as needed */
  }