.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.backgroundImage{
    background: url("https://wallpapercave.com/wp/wp3138532.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    /* Adjust overflow */
    overflow-y: hidden; /* Change to hidden to prevent scrollbar */
    width: 100%;
}

.ingredientContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipeSummary{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color: white;
}

.regularTextCenter{
    text-align: center;
    background-color: white;
}

.recipeSummaryContainer {
  position: relative;
  width: 100%; /* Adjust width as needed */
  max-width: 900px; /* Set maximum width */
  height: auto; /* Adjust height as needed */
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
